.menu-card-container {
  display: flex;
  align-items: center;
  height: 3rem;
  max-width: 100%;
  color: var(--color-2);
  background: var(--color-1);
  overflow-x: auto;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.menu-card-container::-webkit-scrollbar {
  display: none;
}
.menu-card-container li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
