.banner-site {
  position: relative;
  background: var(--color-1);
  height: calc(100vh - 3rem);
  overflow: hidden;
}

.banner-site__banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-------------------*/
/* MEDIA QUERY */
/*-------------------*/

/* MOBILE */
@media screen and (max-height: 30rem) {
  .banner-site {
    overflow-y: auto;
  }
}
