.details-card {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5rem;
  margin: auto 0rem;
  height: fit-content;
  text-align: right;
  font-size: 1.1rem;
  overflow-y: auto;
}
.details-card__reservation-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact-option {
  display: flex;
  gap: 0.5rem;
  flex-direction: row-reverse;
  padding: 0.7rem 1rem;
  width: 100%;
  text-decoration: none;
  border: 0.1rem solid var(--color-1);
  color: var(--color-1);
  transition: 0.2s;
}
.contact-option:hover {
  background: var(--color-1);
  color: var(--color-2);
  text-decoration: underline;
}
.details-card__container {
  padding: 0.5rem 1rem;
  width: fit-content;
  height: fit-content;
  border: thin solid black;
}
.details-card__title {
  display: flex;
  font-size: 1.3rem;
  gap: 0.3rem;
  align-items: center;
  flex-direction: row-reverse;
}

/*-------------------*/
/* MEDIA QUERY */
/*-------------------*/
/* MOBILE */
@media screen and (max-width: 900px) {
  .details-card {
    justify-content: flex-start;
    padding: 0;
    text-align: left;
    font-size: 1rem;
  }
  .details-card__title {
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .details-card {
    gap: 0.5rem;
    align-items: flex-start;
    margin: 0;
  }
  .contact-option {
    flex-direction: row;
  }
}

@media screen and (max-width: 450px) {
  .details-card {
    padding-right: 0.5rem;
  }
  .details-card__container {
    width: 100%;
  }
}
