.menu-site {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  max-width: 100%;
  min-height: 3rem;
  font-size: 1.3rem;
  user-select: none;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.menu-site::-webkit-scrollbar {
  display: none;
}
.menu-site__item {
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}
.menu-site__item--active {
  color: var(--color-2);
  background: var(--color-1);
}

/*-------------------*/
/* MEDIA QUERY */
/*-------------------*/
/* MOBILE */
@media screen and (max-width: 900px) {
  .menu-site {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .menu-site {
    margin-bottom: 0.7rem;
  }
}
